body{
	background-color: #f2f2ff;
}

* {
	font-size: 0;
	margin: 0;
	padding: 0;
}

#puzzle{
	width: 600px;
	height: 400px;
	margin: 40px;
	border: 4px solid black;
	position: relative;
	
}

img {
	vertical-align: top;
}

img:nth-of-type(11) {
	position: absolute;
	display: block;
	top: 52px;
	

}

img:nth-of-type(12) {
	position: absolute;
	left:51px;
	top: 83px;
	display: block;
}

img:nth-of-type(13) {
	position: absolute;
	left: calc(51px + 82px);
	display: block;
	top: 66px;
}

img:nth-of-type(14) {
	position: absolute;
	left: calc(51px + 82px + 57px);
	display: block;
	top: 92px;
	

}

img:nth-of-type(15) {
	position: absolute;
	left: calc(51px + 82px + 57px + 50px);
	top: 64px;
	display: block;
}

img:nth-of-type(16) {
	position: absolute;
	left: calc(51px + 82px + 57px + 50px + 74px);
	top: 110px;
	display: block;	
}

img:nth-of-type(17) {
	position: absolute;
	left: calc(51px + 82px + 57px + 50px + 74px + 64px);
	top: 126px;
	display: block;

}

img:nth-of-type(18) {
	position: absolute;
	left: calc(51px + 82px + 57px + 50px + 74px + 64px + 69px);
	top: 121px;
	display: block;
}	

img:nth-of-type(19) {
	position: absolute;
	left: calc(51px + 82px + 57px + 50px + 74px + 64px + 69px + 66px);
	top: 150px;
	display: block;
}

img:nth-of-type(20) {
	position: absolute;
	left: calc(51px + 82px + 57px + 50px + 74px + 64px + 69px + 66px + 51px);
	top: 129px;
	display: block;
}	
img:nth-of-type(21) {
	position: relative;
	display: block;
	top: 12px;
}	

img:nth-of-type(22) {
	position: relative;
	display: block;
	left: 51px;
	bottom: 38px;
}			

img:nth-of-type(23) {
	position: relative;
	display: block;
	left: calc(51px + 82px);
	bottom: 77px;
}	

img:nth-of-type(24) {
	position: relative;
	display: block;
	left: calc(51px + 82px + 57px);
	bottom: 106px;
}	

img:nth-of-type(25) {
	position: relative;
	display: block;
	left: calc(51px + 82px + 57px + 50px);
	bottom: 160px;
}	

img:nth-of-type(26) {
	position: absolute;
	display: block;
	left: calc(51px + 82px + 57px + 50px + 74px);
	bottom: 163px;
}	

img:nth-of-type(27) {
	position: absolute;
	display: block;
	left: calc(51px + 82px + 57px + 50px + 74px + 64px);
	bottom: 163px;	
}

img:nth-of-type(28) {
	position: absolute;
	display: block;
	left: calc(51px + 82px + 57px + 50px + 74px + 64px + 69px);
	bottom: 163px;	
}

img:nth-of-type(29) {
	position: absolute;
	display: block;
	left: calc(51px + 82px + 57px + 50px + 74px + 64px + 69px + 66px);
	bottom: 163px;	
}

img:nth-of-type(30) {
	position: absolute;
	display: block;
	left: calc(51px + 82px + 57px + 50px + 74px + 64px + 69px + 66px + 51px);
	bottom: 163px;	
}

img:nth-of-type(31) {
	position: absolute;
	display: block;
	bottom: 91px;
		
}

img:nth-of-type(32) {
	position: absolute;
	display: block;
	left: 76px;
	bottom: 59px;
		
}

img:nth-of-type(33) {
	position: absolute;
	display: block;
	left: calc(76px + 51px);
	bottom: 46px;		
}

img:nth-of-type(34) {
	position: absolute;
	display: block;
	left: calc(76px + 51px + 55px);
	bottom: 66px;		
}

img:nth-of-type(35) {
	position: absolute;
	display: block;
	left: calc(76px + 51px + 55px + 68px);
	bottom: 45px;		
}

img:nth-of-type(36) {
	position: absolute;
	display: block;
	left: calc(76px + 51px + 55px + 68px + 54px);
	bottom: 65px;		
}

img:nth-of-type(37) {
	position: absolute;
	display: block;
	left: calc(76px + 51px + 55px + 68px + 54px + 61px);
	bottom: 74px;		
}

img:nth-of-type(38) {
	position: absolute;
	display: block;
	left: calc(76px + 51px + 55px + 68px + 54px + 61px + 94px);
	bottom: 47px;		
}

img:nth-of-type(39) {
	position: absolute;
	display: block;
	left: calc(76px + 51px + 55px + 68px + 54px + 61px + 94px + 44px);
	bottom: 28px;		
}

img:nth-of-type(40) {
	position: absolute;
	display: block;
	left: calc(76px + 51px + 55px + 68px + 54px + 61px + 94px + 44px + 40px);
	bottom: 59px;		
}

img:nth-of-type(41) {
	position: absolute;
	display: block;
	
	bottom: 0px;		
}

img:nth-of-type(42) {
	position: absolute;
	display: block;
	left: 76px;
	bottom: 0px;		
}

img:nth-of-type(43) {
	position: absolute;
	display: block;
	left: calc(76px + 51px);
	bottom: 0px;		
}

img:nth-of-type(44) {
	position: absolute;
	display: block;
	left: calc(76px + 51px + 55px);
	bottom: 0px;		
}

img:nth-of-type(45) {
	position: absolute;
	display: block;
	left: calc(76px + 51px + 55px + 68px);
	bottom: 0px;		
}

img:nth-of-type(46) {
	position: absolute;
	display: block;
	left: calc(76px + 51px + 55px + 68px + 54px);
	bottom: 0px;		
}

img:nth-of-type(47) {
	position: absolute;
	display: block;
	left: calc(76px + 51px + 55px + 68px + 54px + 61px);
	bottom: 0px;		
}

img:nth-of-type(48) {
	position: absolute;
	display: block;
	left: calc(76px + 51px + 55px + 68px + 54px + 61px + 94px);
	bottom: 0px;		
}

img:nth-of-type(49) {
	position: absolute;
	display: block;
	left: calc(76px + 51px + 55px + 68px + 54px + 61px + 94px + 44px);
	bottom: 0px;		
}

img:nth-of-type(50) {
	position: absolute;
	display: block;
	left: calc(76px + 51px + 55px + 68px + 54px + 61px + 94px + 44px + 40px);
	bottom: 0px;		
}










